---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Donate Now', href: 'https://donorbox.org/october-2018', icon: 'iconoir:donate' }}
    {/* callToAction2={{ text: 'Learn more', href: '#features' }} */}
    image={{ src: import('~/assets/images/Isla.png'), alt: 'Child with Rett Syndrome named Isla' }}
  >
    <Fragment slot="title">
      Supporting <span class="hidden lg:inline">Saskatchewan families<span class="2xl:hidden"></span> affected by</span>
      <span class="text-accent highlight"> Rett Syndrome</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Saskatchewan Rett Syndrome Association</span> is a non-profit working towards giving
        these families the support they need.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <!-- Content Widget **************** -->

  <Content
    title="Our Mission"
    image={{
      src: import('~/assets/images/Zarah.jpg'),
      alt: 'Child with Rett Syndrome named Zarah',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Communication and Support</h3>

      We strive to connect Saskatchewan families affected by <span class="text-accent">Rett Syndrome</span> in order to build
      a supportive community that can listen, offer advice, and a shoulder to lean on. Our goal is to keep our families up
      on the latest research and treatments by sending them to learning conferences across Canada and the world. We also
      aim to raise public awareness and fundraise for medical research.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    image={{
      src: import('~/assets/images/Brooklyn.jpeg'),
      alt: 'Adult with Rett Syndrome named Brooklyn',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Our Impact</h3>

      <p>
        One in every 10,000 individuals is affected by Rett Syndrome (RS). Although it is classified as a rare
        condition, many families in Saskatchewan are impacted by this disorder. Researchers worldwide are dedicated to
        enhancing the lives of those with Rett Syndrome through innovative therapies, symptomatic treatments, and even
        efforts to reverse the condition. Via the Hope fund started by ORSA, we also donate money to Canadian
        researchers to help with their efforts.
      </p><br /><p>
        With the rapidly evolving research landscape, it can be challenging to navigate the wealth of information
        available. Accessing reliable resources is a crucial step in simplifying this journey.
      </p><br />
      <p>
        National and international Rett Syndrome conferences serve as valuable platforms for connecting families with
        the latest research. Each year, we sponsor one to two families to attend these conferences on a reconnaissance
        mission, gathering insights to share with our community upon their return. By working together as a united
        community, we can streamline the often overwhelming process of information gathering.
      </p>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <!-- Features2 Widget ************** -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <LatestPosts title="Recent News" /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Common Questions"
    subtitle=""
    highlight=""
    items={[
      [
        {
          question: 'What is Rett Syndrome?',
          answer:
            'Rett syndrome is a random genetic neurological disorder that occurs almost exclusively in girls and leads to severe impairments, affecting nearly every aspect of the child’s life: their ability to speak, walk, eat, and even breathe easily.',
        },
        {
          question: 'What causes Rett Syndrome?',
          answer:
            'It is caused by a mutation of the MecP2 gene on the X chromosome. Diagnosis is based on symptoms and confirmed by genetic testing.  Less than 1% of cases are inherited from parents - the vast majority is caused by genetic mutation.',
        },

        {
          question: 'What is on the horizon for Rett Syndrome Research?',
          answer:
            'The good news is that Rett Syndrome Research is an extremely vibrant space with plenty of exciting possibilities.  Explore some of those possibilities at <a class="text-blue-500 underline" href= "https://reverserett.org/cures">Reverserett.org</a>. <br><br>Gene therapy has reversed rett syndrome in mouse models. Two companies, Neurogene and Taysha are currently in clinical trials!  Additionally, trofinetide is under investigation by Health Canada to be marketed for symptom relief.',
        },
      ],
      [
        {
          question: 'What about cognitive symptoms?',
          answer:
            'Cognitive assessment in children with Rett syndrome is complicated, but we know that they understand far more than they can communicate to us, evidenced by their bright and attentive eyes, and their ability to express a wide spectrum of moods and emotions.  Through the use of eye gaze technology and low tech methods, families notice their children are smart, witty, and have a lot to say!',
        },
        {
          question: 'What kind of symptoms are common?',
          answer:
            'RS symptom severity can vary widely in each individual but typically include: loss of purposeful hand use, loss of language, apraxia, breathing and lung problems, scoliosis, seizures, sleep problems and gastro intestinal problems.  Generally, individuals with Rett syndrome require 24/7 care.',
        },
        {
          question: 'How can I become a member?',
          answer:
            'Have you recently received a Rett Syndrome diagnosis for your loved one? Welcome to the club you never wanted to be in!  Please reach out to see how we can help.  Among our members, across the province, we have a wealth of information and can help guide you on this new journey.  Becoming a member of our association is not necessary but always welcomed. Please <a class="text-blue-500 underline" href= "https://www.saskrett.com/contact/">contact us</a> for more information.',
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'People Affected', value: '1 in 10k' },
      { name: 'Years Serving Families', value: '25+' },
      { name: 'Raised for Families and Research', value: '$35K' },
      { name: 'Your Help', value: 'Priceless' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{ text: 'Donate Now', href: 'https://donorbox.org/october-2018', icon: 'iconoir:donate' }}
  >
    <Fragment slot="title">
      We Need Your <br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> Help</span>
    </Fragment>

    <Fragment slot="subtitle">
      Your donation will be put towards research towards treatments, as well as essential supports for families.
    </Fragment>
  </CallToAction>
</Layout>
