---
import { Icon } from 'astro-icon';
---

<Icon name="iconoir:flower" class="w-6 h-6 text-accent" /><span class="self-center ml-2 text-xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
   Sask Rett Syndrome Association</span>